html, body {height: 100%; overflow-y: auto;}

.body-styles{
  /*background: #757F9A;
  background: -webkit-linear-gradient(to top, #D7DDE8, #757F9A);
  background: linear-gradient(to top, #D7DDE8, #757F9A);*/

  background: #56CCF2;
  background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
}

.height-fluid {
	height: 100%;
	overflow-y: auto;
}