.breadCrumb-container{
  padding: 10px 10px; 
  font-size: medium;
}

.school-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*.school-card-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/
.school-list-header {
  padding: 10px;
  background-color: cornflowerblue;
}
.school-card-listItem{
  margin-top: 10px;
  padding: 10px 0px;
  border: 1px rgba(117, 112, 112, 0.2) solid;
}
.school-card-actions-container{

}
.basic-profile-mainContainer, .experience-mainContainer,
.extraInformation-mainContainer, .qualification-mainContainer,
.references-mainContainer {
  margin-top: 10px;
}

.profile-basic-info-container{
  margin-top: 20px;
}

.profile-percentage-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  height: 350px;
}

.profile-details-container{
  margin-top: 20px;
}

.school-card-name {
  display: flex
}

.basic-profile-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic-card.ant-card .ant-card-body {
  height: 80%;
}

.data-display-row-styles {
  padding: 5px 0px;
  border-style: solid;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
}

.first-data-row {
  margin-top: 10px;
  padding: 5px 0px;
  border-style: solid;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
}