.breadCrumb-container{
  padding: 10px 10px;
  font-size: medium;
}

.dashboard-card{
  margin: 5px 0px;
}
.dashboard-applicationsList-container, .dashboard-schoolList-container {
  margin-top: 35px;
}
.school-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.school-list .ant-list-item {
  background-color: white;
  margin-top: 4px;
  padding-left: 5px;
}
.school-list-header {
  padding: 10px;
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*.school-card-listItem{
  margin-top: 5px;
  padding: 10px 0px;
  border: 1px rgba(117, 112, 112, 0.2) solid;
  background-color: lightgray;
}*/
.school-card-listItem .schoolName, .vacancy-list .vacancy-card .vacancyTitle{
  color: cornflowerblue;
}

.school-card-actions-container{

}

.vacancy-list .vacancy-card:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.vacancy-list .vacancy-description{
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.vacancy-list .ant-list-item{

}
.basic-profile-mainContainer, .experience-mainContainer,
.extraInformation-mainContainer, .qualification-mainContainer,
.references-mainContainer {
  margin-top: 10px;
}

.profile-basic-info-container{
  margin-top: 20px;
}

.profile-percentage-card{
  height: 350px;
}
.profile-percentage-card * {
  display:flex;
  flex-direction:column;
  align-items:center;
}
.profile-details-container{
  margin-top: 20px;
}

.school-card-name {
  display: flex
}

.basic-profile-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic-card.ant-card .ant-card-body {
  height: 80%;
}

.data-display-row-styles {
  padding: 5px 0px;
  border-style: solid;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
}

.first-data-row {
  margin-top: 10px;
  padding: 5px 0px;
  border-style: solid;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #fff;
  border-left: 0px;
  border-right: 0px;
}

.profile-pic-uploadButton {
  display:flex;
  justify-content: center;
  padding-top:5px;
}

.card-header-background .ant-card-head, .card-header-background .ant-modal-header{
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
