.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 100px;*/
  padding: 20px;
  color: white;
}

.App-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #222;
  height: 75px;
  padding: 10px;
  color: black;
  text-align: center;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.login-form {
  justify-content: center;
  margin:auto; 
}

.justify-content-center {
  display:flex;
  justify-content: center;
}

.login-formControl-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-formControl-styles {
  border: 1px darkgrey solid;
}

.height-fluid {
  height: 100%;
  overflow-y: auto;
}

.float-none{
  float: none
}
.login-form-styles {
  /*background: #43C6AC;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to top, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to top, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-icons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-icons{
  padding: 0px 3px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
